body{
    margin: 0;
}
#top{
    background-size: contain;
    background-size: cover;
    background-image: url("images/trees.jpeg");
    height: 830px;
}
.container-fluid{
    padding: 2%;
    
}
a{
    text-decoration: none;
}
.Brand{
    font-size: 2rem;
    margin-left: 30px;
    font-family: 'Fascinate', cursive;
    color: #CDF0EA;
}
.nav-elements{
    display: inline;
    float: right;
    margin-top: 10px;
}
.nav-links{
    font-size: 1.3rem;
    margin: 0 15px;
    font-family: 'Montserrat', sans-serif;
    color: #F6FBF4;
    font-weight: 300;
}